@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/fonts/Jost/stylesheet.css");
@import url("/fonts/Josefin Sans/stylesheet.css");


:root {
  --root-size: 37;
}
@media (min-width: 1024px) {
  :root {
    --root-size: 120;
  }
}
:root {
	font-size: 14px;
	/* width: 100vw; */
}
@media (min-width: 370px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: calc((100vw / var(--root-size)));
  }
}
/* 
:root {
  font-size: max(16px, calc((1 / 120) * 100vw));
} */

.small-text {
  font-size: 3vw;
}

.medium-text {
  font-size: 5vw;
}

.large-text {
  font-size: 12vw;
}

.xl-text {
  font-size: 16vw;
}

@media (min-width: 768px) {
  .small-text {
    font-size: 1vw;
  }

  .medium-text {
    font-size: 1.4vw;
  }

  .large-text {
    font-size: 5vw;
  }

  .xl-text {
    font-size: 8vw;
  }
}

@media (min-width: 640px) {
}

.inner {
  background-color: green;
  .page {
    background-color: blue;
  }
  .slide {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: red;
    z-index: 1;
  }
}

.curve {
  .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
  }
  .background {
    background-color: black;
    transition: opacity 0s linear 0.1s;
  }
  .route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 46px;
    z-index: 3;
    transform: translateX(-50%);
    text-align: center;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.jost {
  font-family: "Jost", sans-serif;
}

body {
  background-color: black;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spin-slow {
  animation: spin 10s linear infinite;
}
.spin-fast {
  animation: spin 3s linear infinite;
}
